/*GENERAL CSS*/
body {
	font-family: Arial, San-Serif;
	font-size: 100%;	/*16px*/
	/*width: 100%; /*1351px*/*/
}

a {
	text-decoration: none;
	color: black;
}

p {
	font-size: 0.8125em; /*13px/16px=0.08215em*/
	line-height: 1.3em;
}

.container {
	width: 71.05847520355293%; /*960/1024px;*/
	min-width: 71.05847520355293%; /*960/1024px;*/
	max-width: 90%; /*960/1024px;*/
	margin: 0 auto;
}

.container .cols {
	float: left;
}

.container .cols.col-1 { min-width: 8.3333333333%;}
.container .cols.col-2 { width: 16.6666666666%;}
.container .cols.col-3 { width: 24.9999999999%;}
.container .cols.col-4 { width: 33.3333333332%;}
.container .cols.col-5 { width: 41.6666666665%;}
.container .cols.col-6 { width: 49.9999999998%;}
.container .cols.col-7 { width: 58.3333333331%;}
.container .cols.col-8 { width: 66.6666666664%;}
.container .cols.col-9 { width: 74.9999999997%;}
.container .cols.col-10 { width: 83.333333333%;}
.container .cols.col-11 { width: 91.6666666663%;}
.container .cols.col-12 { width: 100%;}

#toggle_menu {
	display: none;
}

/*HEADER*/

.header {
	padding: 50px 5.208333333%; /*50px/960px=0.05208333333*/
	background-color: yellowgreen;
	color: greenyellow;
	text-align: center;
}


/*MENU*/

.navigation {
	color: white;
	background-color: #222;
	min-height: 64px;
	border: 2px solid #215;
}



.navigation ul li {
	float: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.navigation ul li a:hover {
	color:yellowgreen;
}

.navigation a {
	color: white;
	text-decoration: none;
	display: block;
	line-height: 4em;
	font-weight: bold;
	text-align: center;
}

.menu_link:visited {
	color: white;
	text-decoration: none;
}


/*LOGIN*/
.login {
	float: right;
	padding: 15px 0; 
}

.login * {
	text-align: center;
	margin: 0.5em 0;
}

.login input[type='text'],
.login input[type='password'] {
	outline: none;
	border: 1px solid transparent;
	border-radius: 5px;
	margin-right: 5px;
	padding: 5px;
}

.login input[type='submit'] {
	border: 1px solid grey;
	border-radius: 5px;
	padding: 5px 15px; /*15/72.4219=0.20711966960270306*/
}


/*MAIN*/

.collections {
	overflow: auto;
}

.collection-title {
	margin: 25px 0 0;
	font-weight: bold;
	padding-bottom: 15px;
	border-bottom: 1px solid #777;
}

.collection-title small {
	margin-left: 15px;
	color: grey;
	font-size: 18px;
}


.collection-item-outer {
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 15px;
	display: inline-block;
	box-sizing: border-box;
	margin-bottom: 2px;
}

.collections>div:first-child {
	padding-left: 0px;
}

.collections>div:last-child {
	padding-right: 0px;
}

.collection-item {
	border: 1px grey solid;
}

.collection-item img,
.collection-item video {
	width: 100%;
}

.collection-item div {
	margin: 16px;
}

.collection-item h3 {
	color: yellowgreen;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.collection-item p {
	height: 80px;
	max-height: 80px;
	overflow: hidden;
}

.collection-item button {
	border: 1px solid transparent;
	outline: none;
	border-radius: 5px;
	padding: 5px;
	margin: 15px 5px 5px 5px;
	text-align: right;
}


/*FOOTER*/
.footer {
	margin-top: 30px;
	background-color: yellowgreen;
	padding: 15px 0 15px;
	color:white;
}


@media screen and (max-width: 1200px) {
	.container {
		width: 90%;
	}
}

@media screen and (max-width: 768px) {

	/*COMMON*/
	.container .cols {
		float: none;
	}

	.container .cols.col-1,
	.container .cols.col-2,
	.container .cols.col-3,
	.container .cols.col-4,
	.container .cols.col-5,
	.container .cols.col-6,
	.container .cols.col-7,
	.container .cols.col-8,
	.container .cols.col-9,
	.container .cols.col-10,
	.container .cols.col-11,
	.container .cols.col-12 { width: 100%;}

	/*MOBILE MENU*/

	.navigation .container * {
		/*display: none;*/
	}	

	.header{
		padding-top: 1.5%;
		padding-bottom: 1.5%;
	}

	.header h1 {
		margin-top: 0px;
	}

	.header h2 {
		margin-bottom: 0px;
	}

	.navigation #toggle_menu {
		position: absolute;
		display: block;
		margin-top: 1em;
		cursor: pointer;
	}

	#toggle_menu button {
		background-image: url("../img/mobile-menu-icon.png");
		background-color: transparent;
		background-position-y: 0px;
		background-size: cover;
		width: 3em;
		height: 3em;
		border: none;
		outline: none;
		vertical-align:middle;
	}

	#toggle_menu span {
		color: #111111;
		text-transform: uppercase;
		font-weight: bold;
		margin-left: 5px;
	}

	.navigation ul {
		display: none;
		max-width: 75%;
		margin: 0 auto;
	}
	
	.navigation li {
		margin: 0 auto;
	}

	.navigation a {
		color: white;
		text-decoration: none;
		line-height: 4em;
		font-weight: bold;
		text-align: center;
	}

	.login {
		display: none;
		float: none !important;
		text-align: center;
		width: 100%;
	}

	.login *{
		min-width: 50%;
	}
}